# Code Pipeline Environment ("DEVELOPMENT" or "PRODUCTION")
NODE_ENV=DEVELOPMENT

# MongoDB URI
MONGODB_URL=

# CTFAuth Credentials
CTF_AUTH_API_KEY=
CTF_AUTH_API_SECRET=

# Misc
COOKIE_TOKEN_NAME=nekotizer

# ngrok tunnel url.
# Use this if you need an actual domain to test features like CTFAuth, etc...
NGROK_URL=

# Overrides the login middleware with this [FortunateMaps] Profile ID.
# Use this to bypass logging in locally; Do NOT use in production.
PROFILE_ID_OVERRIDE=

# Maptest server url
MAPTEST_URL=