<!doctype html>
<html lang="en">
	<head>
		<%- include('head') %>

		<link rel="stylesheet" type="text/css" href="/css/editor.css">

		<title>Fortunate Maps - Editor</title>
	</head>
	<body>
		<%- include('nav'); %>

		<iframe id="editorFrame"></iframe>

		<%- include('bodyscripts') %>

		<script type="text/javascript" src="/js/editor.js"></script>
	</body>
</html>