<!doctype html>
<html lang="en">
	<head>
		<%- include('head') %>

		<link rel="stylesheet" type="text/css" href="/css/home.css">

		<title>Fortunate Maps - Home</title>
	</head>
	<body>
		<%- include('nav'); %>

		<main role="main" class="container">
			<div class="starter-template">
				<div class="map-container">
					<div class="card map-card">
						<img src="http://unfortunate-maps.jukejuice.com/static/previews/60095.png" class="card-img-top" alt="">
						<div class="card-body">
							<p class="card-text text-center"><b>Emerald</b> by <b>Ball-E</b></p>
							<hr>
							<div class="btn-group w-100" role="group" aria-label="Basic example">
								<button type="button" class="btn btn-primary">Test</button>
								<button type="button" class="btn btn-primary">Fullsize Preview</button>
							</div>
						</div>
					</div>
					<div class="card map-card">
						<img src="http://unfortunate-maps.jukejuice.com/static/previews/60095.png" class="card-img-top" alt="">
						<div class="card-body">
							<p class="card-text text-center"><b>Emerald</b> by <b>Ball-E</b></p>
							<hr>
							<div class="btn-group w-100" role="group" aria-label="Basic example">
								<button type="button" class="btn btn-primary">Test</button>
								<button type="button" class="btn btn-primary">Fullsize Preview</button>
							</div>
						</div>
					</div>
					<div class="card map-card">
						<img src="http://unfortunate-maps.jukejuice.com/static/previews/60095.png" class="card-img-top" alt="">
						<div class="card-body">
							<p class="card-text text-center"><b>Emerald</b> by <b>Ball-E</b></p>
							<hr>
							<div class="btn-group w-100" role="group" aria-label="Basic example">
								<button type="button" class="btn btn-primary">Test</button>
								<button type="button" class="btn btn-primary">Fullsize Preview</button>
							</div>
						</div>
					</div>
					<div class="card map-card">
						<img src="http://unfortunate-maps.jukejuice.com/static/previews/60095.png" class="card-img-top" alt="">
						<div class="card-body">
							<p class="card-text text-center"><b>Emerald</b> by <b>Ball-E</b></p>
							<hr>
							<div class="btn-group w-100" role="group" aria-label="Basic example">
								<button type="button" class="btn btn-primary">Test</button>
								<button type="button" class="btn btn-primary">Fullsize Preview</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<%- include('bodyscripts') %>
	</body>
</html>