<!doctype html>
<html lang="en">
	<head>
		<%- include('head') %>

		<link rel="stylesheet" type="text/css" href="/css/home.css">

		<title>Fortunate Maps - Home</title>
	</head>
	<body>
		<%- include('nav'); %>

		<main role="main" class="container">
			<div class="starter-template">
				<div class="map-container">
					<%- include('maplister'); %>
				</div>
			</div>
		</main>

		<%- include('bodyscripts') %>
	</body>
</html>