<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
	<a class="navbar-brand" href="/">
		<img src="/assets/logo.png" width="32" height="32" alt="" loading="lazy">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link in-site" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link in-site" href="/editor">Editor</a>
			</li>
			<li class="nav-item" <%- profileID ? "" : "style='display:none'" %>>
				<a class="nav-link in-site" href="/profile/<%- profileID %>">Profile</a>
			</li>
			<!-- <li class="nav-item">
				<a class="nav-link" href="https://tagpro.koalabeast.com/maps" target="_blank">Rotation</a>
			</li> -->
			<li class="nav-item ml-auto">
				<a class="nav-link" href="https://discord.gg/JBy3BtN" target="_blank">Mapmaking Discord</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://github.com/ParretLabs/fortunatemaps" target="_blank">GitHub</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0" action="javascript:void(0)" id="searchForm">
			<div class="input-group">
				<input class="form-control" type="text" id="searchText" placeholder="Search" aria-label="Search">
				<div class="input-group-append">
					<button class="btn btn-secondary" type="submit">Search</button>
				</div>
			</div>
		</form>
		<div class="account-buttons">
			<%-
				profileID ?
					`<a class="settings-button" href="/settings"><i class="fas fa-cog"></i></a>
					<a class="sign-out-button" href="/sign_out"><i class="fas fa-sign-out-alt"></i></a>` :
					`<a class="sign-in-link" href="/sign_in">
						<div class="sign-in-button">
							<img src="/assets/logos/ctfauth.png"/> <span>Sign in with CTFAuth</span>
						</div>
					</a>`
			%>
		</div>
	</div>
</nav>

<script>
	const navLink = document.querySelector(`.nav-link.in-site[href*="${location.pathname.split("/")[1] || "/"}"]`);
	if(navLink) navLink.parentElement.classList.add("active");
</script>