<nav class="map-pagination-container" aria-label="Page navigation example">
	<ul class="pagination">
		<li class="page-item <%- page === 1 ? "disabled" : "" %>">
			<a class="page-link" href="/search?q=<%- "&p=" + String(page-1) %>" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<%-
			(() => {
				const lowestPageIndex = Math.max(1, page - 4);
				const range = Math.min(9, Infinity - page);

				return Array(range).fill(0).map((x, idx) => `
					<li class="page-item ${page === lowestPageIndex + idx ? "active" : ""}">
						<a class="page-link" href="/search?q=${query}&p=${lowestPageIndex + idx}">${lowestPageIndex + idx}</a>
					</li>
				`).join("");
			})();
		%>
		<li class="page-item">
			<a class="page-link" href="/search?q=<%- "&p=" + String(page+1) %>" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>