body {
	padding-top: 5rem;
}

.navbar-brand {
	margin-left: 15%;
}

.navbar-nav {
	margin: 0 auto;
}

.navbar.left-aligned .navbar-nav {
	margin: 0;
	margin-right: auto;
}

.navbar.left-aligned .navbar-brand {
	margin-left: 10%;
}

.navbar .nav-item {
	margin-right: 10px;
}

.sign-in-link {
	text-decoration: none !important;
}

.sign-in-button {
	display: flex;
	align-items: center;

	background-color: #eee;
	border-radius: 2px;
	padding: 8px;
	-webkit-box-shadow: 0px 12px 7px -7px rgba(0,0,0,0.36); 
	box-shadow: 0px 12px 7px -7px rgba(0,0,0,0.36);
	color: #111;

	transition: all 100ms ease;
}

.sign-in-button:hover {
	box-shadow: 0px 16px 8px -8px rgba(0,0,0,0.36);
}

.sign-in-button img {
	height: 32px;
}

.sign-in-button span {
	margin-left: 4px;
}

.account-buttons {
	margin-left: 32px;
	margin-right: 15%;
	font-size: 16px;
}

.settings-button {
	margin-right: 16px;
}

.map-container {
	display: flex;
	justify-content: space-evenly;
	flex-flow: wrap;
}

.map-card {
	width: 33%;
	display: inline-flex;
	margin-bottom: 3%;
}

.map-card .card-img-top {
	display: inline-block;
	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.map-image-link {
	text-align: center;
}

.map-pagination-container .pagination {
	justify-content: center;
}

.comment .avatar {
	width: 64px;
}

.comment .username {
	width: 100%;
	border-bottom: 1px solid #222;
}

.CodeMirror-fullscreen {
	z-index: 10 !important;
}
.editor-toolbar {
	z-index: 100 !important;
}

.editor-preview-side.editor-preview-active-side {
	z-index: 10 !important;
}

.editor-toolbar.fullscreen::before, .editor-toolbar.fullscreen::after {
	opacity: 0;
}

@media (max-width: 400px) {
	.map-card {
		width: 49%;
	}

	.navbar-brand {
		margin-left: 0;
	}
}