body {
	padding-top: 5rem;
	padding-bottom: 2rem;
}

.navbar-brand {
	margin-left: 15%;
}

.navbar-nav {
	margin: 0 auto;
}

.navbar .nav-item {
	margin-right: 10px;
}

.account-buttons {
	margin-left: 32px;
	margin-right: 15%;
	font-size: 16px;
}

.settings-button {
	margin-right: 16px;
}

.map-card {
	width: 33%;
	display: inline-flex;
	margin-bottom: 3%;
}

.map-card .card-img-top {
	max-height: 300px;
	display: inline-block;
}

.map-image-link {
	text-align: center;
}

.map-pagination-container .pagination {
	justify-content: center;
}

.comment .avatar {
	width: 64px;
}

.comment .username {
	width: 100%;
	border-bottom: 1px solid #222;
}

.CodeMirror-fullscreen {
	z-index: 10000 !important;
}
.editor-toolbar {
	z-index: 100000 !important;
}

.editor-preview-side.editor-preview-active-side {
	z-index: 10000 !important;
}

.editor-toolbar.fullscreen::before, .editor-toolbar.fullscreen::after {
	opacity: 0;
}

@media (max-width: 400px) {
	.map-card {
		width: 49%;
	}

	.navbar-brand {
		margin-left: 0;
	}
}

@media (min-width: 400px) {
	.map-card .card-img-top {
		width: auto;
	}
}