.stats-card {
	height: 100%;
}

.stats-card .card-body {
	display: flex;
    flex-flow: column;
}

.stats-card .card-body hr {
	width: 100%;
}

.data-table {
	width: 100%;
}

.data-table tr td:first-child {
	width: 33%;
	text-align: center;
	font-weight: bold;
}

.tag.badge {
	font-size: 1rem;
	margin-right: 4px;
}

#tagsDisplay .tag {
	cursor: pointer;
}

#authorsDisplay .tag {
	cursor: pointer;
}

.tag-container {
	/*line-height: 32px;*/
}

.map-description {
	text-wrap: wrap;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}

#authorSearchList {
	position: absolute;
	width: 80%;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid black;
	z-index: 100;
	padding: 0;
	list-style-type: none;
}

#authorSearchList li {
	cursor: pointer;
	border-bottom: 1px solid black;
}

#authorSearchList li:hover {
	background-color: #DDD;
}