div.tileRow {
    height:40px;
}
.hasImportable {
    background-color:#9f9;
}
.hasExportable {
    background-color:#99f;
}
div.tile {
    width:40px;
    height:40px;
    display:inline-block;
}
div.tileQuadrant {
    width:20px;
    height:20px;
    position:absolute;
    background-image: url("../tiles.png");
}
div.nestedSquare {
    position:absolute;
    left:0;
    top:0;
}
div.nestedSquareTL {
    left:0;
    top:0;
}
div.nestedSquareTR {
    left:20px;
    top:0;
}
div.nestedSquareBL {
    left:0;
    top:20px;
}
div.nestedSquareBR {
    left:20px;
    top:20px;
}
div.topSquare {
    opacity: 0.75;
}
div.tileBackground {
    width:40px;
    height:40px;
    background-image: url("../tiles.png");
    display:inline-block;
    background-position: -80px -80px;
    position:relative;
}
div.selectionIndicator {
    width:40px;
    height:40px;
    background-image: url("../selected.png");
    display:none;
}
div.tileTypeSelectionIndicator {
    width:40px;
    height:40px;
    background-image: url("../selected.png");
    display:none;
}
div.potentialHighlight {
    width:40px;
    height:40px;
    background-color:#99ff99;
    opacity: .5;
    /*background-image: url("../selected.png");*/
    display:none;
}
div.potentialHighlightOther {
    width:40px;
    height:40px;
    background-color:#99ff99;
    opacity: .5;
    background-image: url("../selected.png");
    display:none !important;
}
div.selectionIndicatorCircle {
    width:40px;
    height:40px;
    display:none;
}
div.selectionIndicatorCircle circle {
    stroke: black;
}
a {
    cursor: pointer;
}
#palette {
    font-size: 0;
}
a.dropArea {
    width: 100%;
    height: 100px;
    border:1px dotted #555;
    display:inline-block;
    text-align:center;
    line-height: 100px;
}
a.selectedTool {
    background-color: red;
}
#resizeWidth, #resizeHeight {
    padding: 6px 6px;
    font-weight: normal;
    text-align: center;
}
table {
    margin: auto;
}
label {
    display: block;
}
label.radioLabel {
    display: inline-block;
    width: 30%;
    font-weight: normal;
}
span.input-group-addon {
    padding: 6px 6px;
}
span.glyphicon-flipped {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    /*filter: FlipH;
    -ms-filter: "FlipH";*/
}
span.glyphicon-rotate-right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
span.off-center {
    left: -1.5px;
}
span.off-center2 {
    left: -2px;
}
span.radioSpan {
    margin: 0% 10% 0% 5%;
}
input[type="radio"], input[type="checkbox"] {
    display: inline-block;
    width: auto;
    height: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-heading {
  cursor: pointer;
}
.modal-colored-header {
    background-color: #428bca;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}
.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
}
.slot {
    display: flex;
    align-items: center;
    text-align: left;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 0 4px;
    margin: 4px 0;
}
div.active {
    background-color: rgba(200,200,200,0.75);
}

#chat-text {
    overflow-y: auto; 
    overflow-x: hidden;
    display: none;
}

.chat-text {
    height:0px;
    vertical-align:bottom;
    background-color: rgba(0,0,0,0.8);
    display: table-cell;
}

#chat-box {
    position:fixed;
    width:300px;
    right:4%;
    bottom:4%;
    pointer-events: none;
}

#chat-input {
    width:100%;
    background-color: rgba(0, 0, 0, 0.8);
    border:0;
    color:white;
    visibility:hidden;
}

.current {
    min-width:300px;
    max-width:300px;
    max-height:180px;
}

.strokeme
{
    color: white;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;  
}

.strokeme-black
{
    color: black;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;  
}

.highlight-color {
    padding-right:10px;
    margin-right:10px;
    height:20px;
    width:20px;
}

.highlight-color:hover {
    border-color:black;
    border-style:solid;
    border-width:2px;
}

.highlight-color-active {
    border-color:black;
    border-style:solid;
    border-width:2px;
}

.green { background-color: #99FF99; }
.blue { background-color: #9999ff; }
.red { background-color: #ff9999; }
.purple { background-color: #cc99ff; }
.orange { background-color: #ffcc99; }
.yellow { background-color: #ffff99; }
.turquoise { background-color: #6fe8e0; }
.pink { background-color: #ffb8e8; }
.brown { background-color: #816040; }

.map-version {
    cursor: pointer;
}

.room-name {
    cursor: pointer;
}

.chat-single {
    pointer-events: none;
}

